.title {
  margin: 0 20px 20px 0;
}
.card {
  margin-top: 30px;
  box-shadow: 0 1px 6px 0 rgba(49,53,59,0.12);
}
.flexContainer {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.bottomAction {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.select {
  min-width: 100px;
  max-width: 350px;
}
.selectContainer {
  margin: 0 16px;
  width: 350px;
}
