.actionItem {
  padding: 4px;
  color: black;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  cursor: pointer;
}
.actionItem:hover {
  background-color: #404040;
  color: white;
}